:root {
    --yellow-color: hsl(47, 88%, 63%);
    --white-color: hsl(0, 0%, 100%);
    --light-grey-color: hsl(0, 0%, 42%);
    --button-color: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--yellow-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Figtree', sans-serif;
    padding: clamp(0rem, calc(2.535rem - 2.817vw), 1.875rem);

}

.container {
    background-color: var(--white-color);
    max-width: 20.625rem;
    border-radius: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.9375rem;
    border: 0.09375rem solid black;
    box-shadow: 0.5rem 0.5rem;
    padding: 1.25rem;
    overflow-wrap: break-word;

}

.card-image {
    border-radius: 0.75rem;
    width: 100%;
}

.above-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.625rem;
}

.badge-text {
    font-size: 0.75rem;
    font-weight: 800;
    background-color: var(--yellow-color);
    padding: 0.3125rem 0.75rem;
    display: inline-block;
    border-radius: 0.3125rem;
}

.publish-time {
    font-weight: 500;
    font-size: 0.75rem;
}

.card-title {
    font-weight: 800;
    font-size: 1.25rem;
}

.title-btn {
    text-decoration: none;
    color: var(--button-color);
}

.title-btn:hover {
    color: var(--yellow-color);
}

.card-description {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--light-grey-color);
    line-height: 1.4;
}

.card-author-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;
    padding-top: 0.625rem;
}

.author-name {
    font-weight: 800;
    font-size: 0.75rem;
}

.author-image {
    display: inline;
    width: 1.875rem;
    height: 1.875rem;
}

@media (max-width: 767px) {
    .card-image {
        object-fit: cover;
        height: 12.5rem;
    }

    .author-name {
        font-size: 0.875rem;
    }
}